body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 27px;
  max-width: 796px;
  padding: 0 36px;
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 54px;
}
h1 {
  font-size: 57px;
  line-height: 81px;
  margin-top: 54px;
  margin-bottom: 27px;
}
h2 {
  font-size: 32px;
  line-height: 54px;
  margin-top: 54px;
  margin-bottom: 27px;
}
h3 {
  font-size: 24px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 27px;
}
h4 {
  font-size: 18px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 27px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 27px;
  margin-bottom: 27px;
}

ul, ol {
  padding: 0;
}

/* Sanitation */
hr {
  border: 1px solid;
  /*margin: -1px 0;*/
  margin: 53px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}      

/* Style */
body {
  /*font-family: "Arimo", sans-serif;*/
  color: #333;
}

/*a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}*/

hr {
  border-color: #ccc;
}

/* Fancy things */
img {
  max-width: 100%;
}


.highlight {
  margin: -18px;
}

.highlight pre {
  padding: 18px;
  margin: 54px 0;
}

.post-meta {
  color: #999;
}

.home {
  float: right;
  margin-top: 0;
}